@model MaMontreal.Models.ApplicationUser

@{
    ViewData["Title"] = "Manage " + Model.UserName;
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @if (Model.FullName?.Trim() != "")
    {
         ViewData["Title"] ="Manage " + Model.FullName;
    }
    var roles = await UserManager.GetRolesAsync(Model); 
}

<h1>@(Model.FullName?.Trim() != "" ? Model.FullName :  Model.Email)</h1>

<div>
    <h4>
        @String.Join(", ", roles)
        <a asp-action="EditRoles" asp-route-id="@Model?.Id"><i class="fa-solid fa-edit me-1"> </i></a></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           <p>@Html.DisplayNameFor(model => model.UserName)</p> 
        </dt>
        <dd class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.UserName)</p>         
        </dd>
        <dt class = "col-sm-2">
           <p>@Html.DisplayNameFor(model => model.Email)</p> 
        </dt>
        <dd class = "col-sm-10">
           <p>@Html.DisplayFor(model => model.Email) 
            @if (Model.EmailConfirmed)
            {
                <span class="text-success"><i class="fa-solid fa-check me-1"> </i>Confirmed</span>
            }
            else
            {
                <span class="text-warning">Not Confirmed</span>
            }</p>
        </dd>
        <dt class = "col-sm-2">
           <p> @Html.DisplayNameFor(model => model.PhoneNumber)</p>
        </dt>
        <dd class = "col-sm-10">
           <p> @Html.DisplayFor(model => model.PhoneNumber)
            @if (Model.PhoneNumber != null)
            {
                @if (Model.PhoneNumberConfirmed)
                {
                    <span class="text-success"><i class="fa-solid fa-check me-1"> </i>Confirmed</span>
                }
                else
                {
                    <span class="text-warning">Not Confirmed</span>
                }
            }  </p>
        </dd>
        <dt class = "col-sm-2">
            <p>@Html.DisplayNameFor(model => model.SobrietyDate)</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.SobrietyDate?.ToString().Substring(0,10)</p>
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <h4>Security Details</h4>

    <thead>
        <tr>
            <th scope="col">Two Factor Authentication</th>
            <th scope="col">Lockout Enabled</th>
            @if(Model.LockoutEnd != null ){    
                <th>Lockout End Date</th>
            } 
            <th scope="col">Failed logins</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(Model.TwoFactorEnabled ? "yes" : "no")</td>
            <td>@(Model.LockoutEnabled ? "yes" : "no")</td>
             @if(Model.LockoutEnd != null ){    
                <th>@Model.LockoutEnd</th>
            } 
            <td>@Model.AccessFailedCount</td>
        </tr>
    </tbody>
    </table>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
