@model IEnumerable<MaMontreal.Models.ApplicationUser>

@{
    ViewData["Title"] = "Manage Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Users</h2>
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">User</th>
            <th scope="col">Role</th>
            <th class="d-none d-lg-table-cell" scope="col">@Html.DisplayNameFor(model => model.SobrietyDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex gap-2">    
                        <a asp-action="EditRoles" asp-route-id="@item.Id"><i class="fa-solid fa-user-pen"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash text-danger"></i></a>
                    </div>
                </td>
                <td scope="col">
                    <p class=" fw-bold mb-0">@Html.DisplayFor(modelItem => item.FullName)</p>
                    <p class=" fst-italic mb-0">@Html.DisplayFor(modelItem => item.Email)</p>
                </td>
                <td>
                    @{
                        var roles = UserManager.GetRolesAsync(item).Result.ToArray();
                        @if (roles != null)
                        {
                            if (roles.Contains("admin"))
                            {
                                <span class="badge bg-primary">Admin</span>
                            }
                            else if (roles.Contains("gsr"))
                            {
                                <span class="badge bg-dark">GSR</span>
                            }
                            else if (roles.Contains("member"))
                            {
                                <span class="badge bg-secondary">Member</span>
                            }
                            else
                            {
                                <span class="badge bg-primary">other</span>
                            }
                        }
                        else
                        {
                            <span> unassigned </span>
                        }
                    }
                </td>
                <td class="d-none d-lg-table-cell">@item.SobrietyDate?.ToString().Substring(0,10)</td>
            </tr>
        }
    </tbody>
</table>