@model MaMontreal.Models.ApplicationUser

@{
    ViewData["Title"] = "Manage " + Model.UserName;
    Layout = "~/Views/Shared/_DashLayout.cshtml";
    @if (Model.FullName?.Trim() != "")
    {
        ViewData["Title"] = "Manage " + Model.FullName;
    }
    var roles = await UserManager.GetRolesAsync(Model);
}

<div>
    <h4>User Details</h4>
    <hr />
    <div class="row">
        <dl class="col row">
            <dt class="col-sm-4">
                <p>@Html.DisplayNameFor(model => model.UserName)</p>
            </dt>
            <dd class="col-sm-8">
                <p>@Html.DisplayFor(model => model.UserName)</p>
            </dd>
            <dt class="col-sm-4">
                <p>@Html.DisplayNameFor(model => model.Email)</p>
            </dt>
            <dd class="col-sm-8">
                <div>
                <a href="mailto:@Html.DisplayNameFor(model => model.Email)">@Html.DisplayFor(model => model.Email)  </a>
                    @if (Model.EmailConfirmed)
                    {
                        <span class="text-success badge bg-dark ms-2"><i class="fa-solid fa-check me-1"> </i>Confirmed</span>
                    }
                    else
                    {
                        <span class="text-warning badge bg-dark ms-2">Not Confirmed</span>
                    }
              
                </div>
            </dd>

            <dt class="col-sm-4">
                <p>User Roles</p>
            </dt>
            <dd class="col-sm-8">
                <p>@String.Join(", ", roles)</p>
            </dd>
        </dl>
        <dl class="col row">
            <dt class="col-sm-4">
                <p>@Html.DisplayNameFor(model => model.FirstName)</p>
            </dt>
            <dd class="col-sm-8">
                <p>@Html.DisplayFor(model => model.FirstName)</p>
            </dd>
            <dt class="col-sm-4">
                <p>@Html.DisplayNameFor(model => model.LastName)</p>
            </dt>
            <dd class="col-sm-8">
                <p>@Html.DisplayFor(model => model.LastName)</p>
            </dd>
            <dt class="col-sm-4">
                <p> @Html.DisplayNameFor(model => model.PhoneNumber)</p>
            </dt>
            <dd class="col-sm-8">
                <p> <a href="tel:@Model.PhoneNumber">@Html.DisplayFor(model => model.PhoneNumber)</a>
                    @if (Model.PhoneNumber != null)
                    {
                        @if (Model.PhoneNumberConfirmed)
                        {
                            <span class="text-success badge bg-black ms-2"><i class="fa-solid fa-check me-1"> </i>Confirmed</span>
                        }
                        else
                        {
                            <span class="text-warning badge bg-dark ms-2">Not Confirmed</span>
                        }
                    }
                </p>
            </dd>
            <dt class="col-sm-4">
                <p>@Html.DisplayNameFor(model => model.SobrietyDate)</p>
            </dt>
            <dd class="col-sm-8">
                <p>@Model.SobrietyDate?.ToString().Substring(0,10)</p>
            </dd>
        </dl>
    </div>




    <h4>Security Details</h4>
    <hr />
    <div class="row">
        <dl class="col row">
            <dt class="col-sm-4">
                <p>Two Factor Authentication</p>
            </dt>
            <dd class="col-sm-8">
                <p>@(Model.TwoFactorEnabled ? "yes" : "no")</p>
            </dd>
            <dt class="col-sm-4">
                <p>Lockout Enabled</p>
            </dt>
            <dd class="col-sm-8">
                <p>@(Model.LockoutEnabled ? "yes" : "no")</p>
            </dd>
        </dl>
        <dl class="col row">

            @if (Model.LockoutEnd != null)
            {
                <dt class="col-sm-4">
                    <p>Lockout End</p>
                </dt>
                <dd class="col-sm-8">
                    <p>Model.LockoutEnd</p>
                </dd>
            }


            <dt class="col-sm-4">
                <p>Failed logins</p>
            </dt>
            <dd class="col-sm-8">
                <p>@Model.AccessFailedCount</p>
            </dd>
        </dl>
    </div>
</div>
<div>

    <a asp-action="Index" class="btn btn-dark"><i class="fa-solid fa-arrow-left me-1"></i>Back</a>
</div>
