@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@inject IConfiguration configuration
@{ ViewData["Title"] = "How It Works"; }

<div class="card mb-5" style="">
  <div class="card-body">
    <h3 class="card-title text-center">@SharedHtmlLocalizer["nav_how_it_works"]</h3>
    
    <p class="fs-4 mb-5">
      @SharedHtmlLocalizer["hiw_preamble"]
    </p>
    <ol   class="fs-5 fw-bold mmt-3">
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_1"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_2"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_3"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_4"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_5"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_6"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_7"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_8"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_9"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_10"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_11"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["hiw_step_12"]</li>
    </ol>
    <p class="fs-4">
      @SharedHtmlLocalizer["hiw_postamble"]
    <ul   class="fs-5 fw-bold">
      <li class="m-3">@SharedHtmlLocalizer["hiw_idea_1"]</li>
      <li class="m-3">@SharedHtmlLocalizer["hiw_idea_2"]</li>
      <li class="m-3">@SharedHtmlLocalizer["hiw_idea_3"]</li>
      
    </ul>
  </div>
</div>
