@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@inject IConfiguration configuration
@{ ViewData["Title"] = "12 Promises"; }

<div class="card mb-5" style="">
  <div class="card-body">
    <h3 class="card-title text-center">@SharedHtmlLocalizer["12_questions_title"]</h3>
    
    <p class="fs-4 mb-5">
      @SharedHtmlLocalizer["12_questions_preamble"]
    </p>
    <ol   class="fs-5 fw-bold mmt-3">
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_1"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_2"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_3"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_4"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_5"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_6"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_7"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_8"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_9"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_10"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_11"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_questions_question_12"]</li>
    </ol>
    <p class="fs-4">
      @SharedHtmlLocalizer["12_questions_postamble"]
    </p>
  </div>
</div>