@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@inject IConfiguration configuration
@{ ViewData["Title"] = "12 Promises"; }

<div class="card mb-5" style="">
  <div class="card-body">
    <h3 class="card-title text-center">@SharedHtmlLocalizer["12_promises_title"]</h3>
    
    <p class="fs-4 mb-5">
      @SharedHtmlLocalizer["12_promises_preamble"]
    </p>
    <ol   class="fs-5 fw-bold mmt-3">
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_1"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_2"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_3"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_4"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_5"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_6"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_7"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_8"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_9"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_10"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_11"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_promises_promise_12"]</li>
    </ol>
    <p class="fs-4">
      @SharedHtmlLocalizer["12_promises_postamble"]
    </p>
  </div>
</div>
