@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@inject IConfiguration configuration
@{ ViewData["Title"] = "12 Promises"; }

<div class="card mb-5" style="">
  <div class="card-body">
    <h3 class="card-title text-center mb-5">@SharedHtmlLocalizer["12_traditions_title"]</h3>
    <ol   class="fs-5 fw-bold mmt-3">
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_1"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_2"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_3"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_4"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_5"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_6"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_7"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_8"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_9"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_10"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_11"]</li>
      <li class="mb-3">@SharedHtmlLocalizer["12_traditions_tradition_12"]</li>
    </ol>
  </div>
</div>
