@model IEnumerable<MaMontreal.Models.Meeting>


@{
    ViewData["Title"] = "Meetings";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}
 @if (User.IsInRole("admin")){
<partial name="~/Views/Shared/_FlashMessagePartial.cshtml" model='@TempData["meetingFlashMessage"]' />
 }
<div class="d-flex justify-content-between">
    <h2>Meetings</h2>
    <div> 
        <input type="text" id="search" placeholder="Search" class="col"/>
        <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus me-1"></i>Add New</a>
    </div>
</div>
<table class="table table-hover" id="mytable">
    <thead>
        <tr>
            <th>Status</th>

            <th role="button" onclick="sortTable(1)">
                @Html.DisplayNameFor(model => model.EventName) <i class="fa-solid fa-sort text-primary"></i>
            </th>

            <th role="button" onclick="sortTable(2)">
                Location <i class="fa-solid fa-sort text-primary"></i>
            </th>

            <th role="button" onclick="sortTable(3)">
                Date <i class="fa-solid fa-sort text-primary"></i>
            </th>
@* 
            <th role="button" onclick="sortTable(4)">
                Gsr <i class="fa-solid fa-sort text-primary"></i>
            </th> *@
            
            <th role="button" onclick="sortTable(4)">
                Status <i class="fa-solid fa-sort text-primary"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div >
                    @if (User.IsInRole("admin")){
                        if(item.Status == MaMontreal.Models.Enums.Statuses.Pending){
                            <div class="d-flex gap-2">
                                <a asp-action="Approve" asp-route-id="@item.Id"><i class="fa-solid fa-circle-check text-success" title="Approve Request"></i></a>
                                <a asp-action="Reject" asp-route-id="@item.Id"><i class="fa-solid fa-circle-xmark text-danger" title="Reject request"></i></a>
                            </div>
                        }
                    }
                    </div>
                    <div class="d-flex gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                        @if (item.DeletedAt == null && !item.Status.Equals(MaMontreal.Models.Enums.Statuses.Pending))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-box-archive text-warning"></i></a>
                        }
                        else if(!item.Status.Equals(MaMontreal.Models.Enums.Statuses.Pending))
                        {
                            <a asp-action="Restore" asp-route-id="@item.Id"><i class="fa-solid fa-box-open"></i></a>
                        }
                    </div>    
                </td>     
                <td>
                    <span>@item.EventName</span><br>
                    @if(User.IsInRole("admin")){
                        <a class="fst-italic" asp-controller="ManageUsers" asp-action="Details" asp-route-id="@item.Gsr?.Id" target="_blank">
                            <i class="fa-solid fa-user me-1"></i> 
                            @(item.Gsr?.FullName?.Trim() != "" ? item.Gsr?.FullName : item.Gsr?.Email)
                        </a>
                    }
                </td>
                <td>
                    <div class="d-flex flex-column">
                        <span><i class="fa-solid fa-location-dot"></i> &nbsp; @item.City, @item.ProvinceCode</span>
                        <span><i class="fa-solid fa-building-circle-arrow-right"></i> @item.District</span>
                    </div>
                </td>

                <td >
                    <div class="d-flex flex-column">
                    @if(item.Date != null) { <span><i class="fa-regular fa-calendar-days"></i> @item.Date?.ToShortDateString()</span> }
                    <span><i class="fa-solid fa-repeat"></i> @item.DayOfWeek</span>
                    <span><i class="fa-regular fa-clock"></i> @item.StartTime.ToShortTimeString() - @item.EndTime.ToShortTimeString()</span>
                    </div>
                </td>
                @* <td>
                    <span><i class="fa-solid fa-user me-1"></i> @(item.Gsr?.FullName ?? item.Gsr?.UserName)</span>
                </td> *@
                 <td>
                    <div>
                        @if(item.Status == MaMontreal.Models.Enums.Statuses.Pending){
                                <span class="badge bg-warning">Pending</span>
                        }else if(item.Status == MaMontreal.Models.Enums.Statuses.Approved){
                            <span class="badge bg-success">Approved</span>
                        }else{
                            <span class="badge bg-danger">Declined</span>
                        }
                    </div>   
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
      <script src="~/js/sortAndSearchTable.js"></script>
}