@model MaMontreal.Models.Meeting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}
<div>
    <h4>Meeting Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.District) <i class="fa-solid fa-building-circle-arrow-right text-secondary"></i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingType)
        </dt>
        <dd class="col-sm-10">
            @Model.MeetingType?.Title
            @* @Html.DisplayFor(model => model.MeetingType == null ? "" : model.MeetingType.Title) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language) <i class="fa-solid fa-language text-secondary"></i>
        </dt>
        <dd class="col-sm-10">
            @Model.Language?.Title
            @* @Html.DisplayFor(model => model.Language == null ? "" : model.Language.Title) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address) <i class="fa-solid fa-location-dot"></i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.ProvinceCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek) <i class="fa-solid fa-repeat"></i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date) <i class="fa-solid fa-calendar-days"></i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Time <i class="fa-solid fa-clock"></i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime) - @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark"><i class="fa-solid fa-arrow-left me-1"></i>Back</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="fa-solid fa-edit me-1"></i>Edit</a>
</div>