@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@inject IConfiguration configuration

@{
   ViewData["Title"] = "Home Page";  
}

<div class="">
  <div class="d-flex justify-content-center mt-4">
    <img src="~/images/ma_logo.png" width="200" alt="marijuana anonymous logo" />
  </div>
  <div class="card border-3 shadow mt-4">
    <div class="container mt-3">
      <div class="row">
        <div class="col m-5 justify-content-center">
          <h2>@SharedHtmlLocalizer["home_howitworks_title"]</h2>
          <p>
            @SharedHtmlLocalizer["home_howitworks_body"]
          </p>
          <div class="d-flex justify-content-center">
            <a asp-controller="Solution" asp-action="HowItWorks"><button class="btn btn-primary">@SharedHtmlLocalizer["how_it_works"]</button></a>
          </div>
        </div>
        <div class="col m-5">
          <div class="d-flex justify-content-center">
            <img src="~/images/teddy_bears.jpg" width="350" alt="Teddy bear helping another teddy bear" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col m-5">
        <div class="d-flex justify-content-center">
          <iframe width="350" height="350" style="border: 0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src='https://www.google.com/maps/embed/v1/place?key=@configuration["MaGoogleMapsApiKey"]&q=chabbadlifeline,Montreal+Qc+'>@*TODO:add second location *@ </iframe>
        </div>
      </div>
      <div class="col m-5 justify-content-center">
        <h2>@SharedHtmlLocalizer["home_meetings_title"]</h2>
        <p>
          @SharedHtmlLocalizer["home_meetings_body"]
        </p>
        <div class="d-flex justify-content-center">
          <a asp-controller="Meetings" asp-action="Calendar"><button class="btn btn-primary">@SharedHtmlLocalizer["meetings"]</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-3 shadow">
    <div class="container">
      <div class="row">
        <div class="col m-5 justify-content-center">
          <h2>@SharedHtmlLocalizer["home_seekhelp_title"]</h2>
          <p>
            @SharedHtmlLocalizer["home_seekhelp_body"]
          </p>
          <div class="d-flex justify-content-center">
            <a asp-controller="Home" asp-action="SeekHelp"><button class="btn btn-primary">@SharedHtmlLocalizer["home_seekhelp_button"]</button></a>
          </div>
        </div>
        <div class="col mb-5 mt-5">
          <div class="d-flex justify-content-center">
            <img src="~/images/helping_hand.jpg" width="450" alt="kid helping anothe kid climb mountain" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-5">
    <div class="row">
      <div class="col m-5">
        <div class="d-flex justify-content-center">
          <img  src="~/images/LifeWithHope.jpg" width="250" alt="photo of M A book life with hope" />
        </div>
      </div>
      <div class="col m-5 justify-content-center">
        <h2>@SharedHtmlLocalizer["home_literature_title"]</h2>
        <p>@SharedHtmlLocalizer["home_literature_body"]</p>
        <div class="d-flex justify-content-center">
          <a asp-controller="Home" asp-action="Literature"><button class="btn btn-primary">@SharedHtmlLocalizer["home_literature_button"]</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
