@model IEnumerable<MaMontreal.Models.UserRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>User Role requests</h1>

<p>
    <a asp-action="Create" asp-route-role="gsr">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Requestee)
            </th>
            <th> Role requested </th>
            <th> Note </th>
            <th> Submited  </th>
            <th> Status  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                   
                    @if(item.IsApproved != null){
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash text-danger"></i></a>
                    } else{
                        <a asp-action="Approve" asp-route-id="@item.Id"><i class="fa-solid fa-circle-check text-success" title="Approve Request"></i></a>
                        <a asp-action="Reject" asp-route-id="@item.Id"><i class="fa-solid fa-circle-xmark text-danger" title="Reject request"></i></a>
                    }
      
                </td>
                <td>
                    @{
                        <p>@item.Requestee?.FullName</p>
                        <p>@item.Requestee?.Email</p>
                    }
                </td>
                <td>
                    @if (item.RoleRequested != null) { <i class="fa-solid fa-user"></i><br>
                    @item.RoleRequested.Name}
                </td>
                   <td>
                    @if (item.Note != null) { <i class="fa-solid fa-note-sticky"></i> }
                </td>
                <td>
                    @item.CreatedAt?.ToString().Substring(0, 10)<br>
                    @item.CreatedAt?.ToString().Substring(11, 10)
                </td>
                <td>
                    <p>@if (item.IsApproved == true)
                        {
                            <i class="fa-solid fa-circle-check text-success" title="approved"></i>
                        }
                        else if (item.IsApproved == false)
                        {
                            <i class="fa-solid fa-circle-xmark text-danger" title="rejected"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-clock-rotate-left text-warning" title="pending"></i>
                        }
                      
                    </p>
                          @Html.DisplayFor(modelItem => item.ProcessedDate)
                            <p>@item.RequestHandler?.FullName</p>
                </td>

            </tr>
        }
    </tbody>
</table>
